/* src/App.css */
.app-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh; /* S'assurer que le conteneur prend toute la hauteur de la fenêtre */
  padding-top: 10vh; /* Ajouter un espace en haut de la page */
  box-sizing: border-box;
  padding-left: 10%; /* Ajouter un padding pour centrer le composant */
  padding-right: 10%; /* Ajouter un padding pour centrer le composant */
}
